<div class="relative overflow-x-auto bg-white shadow-sm rounded-lg border border-gray-200 w-200">
  <div
    class="flex items-center justify-between flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 p-4"
  >
    <!--    <div>-->
    <!--      <button-->
    <!--        id="dropdownDefaultButton2"-->
    <!--        data-dropdown-toggle="dropdown-2"-->
    <!--        class="inline-flex items-center justify-center text-gray-700 bg-gray-50 box-border border border-gray-300 hover:bg-gray-100 hover:text-gray-900 focus:ring-4 focus:ring-gray-200 shadow-sm font-medium leading-5 rounded-lg text-sm px-3 py-2 focus:outline-none"-->
    <!--        type="button"-->
    <!--      >-->
    <!--        Action-->
    <!--        <svg-->
    <!--          class="w-4 h-4 ms-1.5 -me-0.5"-->
    <!--          aria-hidden="true"-->
    <!--          xmlns="http://www.w3.org/2000/svg"-->
    <!--          width="24"-->
    <!--          height="24"-->
    <!--          fill="none"-->
    <!--          viewBox="0 0 24 24"-->
    <!--        >-->
    <!--          <path-->
    <!--            stroke="currentColor"-->
    <!--            stroke-linecap="round"-->
    <!--            stroke-linejoin="round"-->
    <!--            stroke-width="2"-->
    <!--            d="m19 9-7 7-7-7"-->
    <!--          />-->
    <!--        </svg>-->
    <!--      </button>-->
    <!--      &lt;!&ndash; Dropdown menu &ndash;&gt;-->
    <!--      <div-->
    <!--        id="dropdown-2"-->
    <!--        class="z-10 hidden bg-white border border-gray-200 rounded-lg shadow-lg w-32"-->
    <!--      >-->
    <!--        <ul class="p-2 text-sm text-gray-700 font-medium" aria-labelledby="dropdownDefaultButton2">-->
    <!--          <li>-->
    <!--            <a-->
    <!--              href="#"-->
    <!--              class="inline-flex items-center w-full p-2 hover:bg-gray-100 hover:text-gray-900 rounded"-->
    <!--              >Reward</a-->
    <!--            >-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <a-->
    <!--              href="#"-->
    <!--              class="inline-flex items-center w-full p-2 hover:bg-gray-100 hover:text-gray-900 rounded"-->
    <!--              >Promote</a-->
    <!--            >-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <a-->
    <!--              href="#"-->
    <!--              class="inline-flex items-center w-full p-2 hover:bg-gray-100 hover:text-gray-900 rounded"-->
    <!--              >Archive</a-->
    <!--            >-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <a-->
    <!--              href="#"-->
    <!--              class="inline-flex items-center w-full p-2 text-red-600 hover:bg-gray-100 rounded"-->
    <!--              >Delete</a-->
    <!--            >-->
    <!--          </li>-->
    <!--        </ul>-->
    <!--      </div>-->
    <!--    </div>-->
    <label for="input-group-1" class="sr-only">Search</label>
    <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg
          class="w-4 h-4 text-gray-500"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-width="2"
            d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        type="text"
        id="input-group-1"
        class="block w-full max-w-96 ps-9 pe-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 py-2.5 shadow-sm placeholder:text-gray-500"
        placeholder="Search"
      />
    </div>
  </div>
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-sm text-gray-700 bg-gray-50 border-b border-t border-gray-200">
      <tr>
        <th scope="col" class="p-4">
          <div class="flex items-center">
            <input
              id="table-checkbox-51"
              type="checkbox"
              value=""
              class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-2 focus:ring-blue-300"
            />
            <label for="table-checkbox-51" class="sr-only">Table checkbox</label>
          </div>
        </th>
        <th scope="col" class="px-6 py-3 font-medium">Nombre</th>
        <th scope="col" class="px-6 py-3 font-medium">Rol</th>
        <th scope="col" class="px-6 py-3 font-medium">Estado</th>
        <th scope="col" class="px-6 py-3 font-medium">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (employee of employees(); track employee.id) {
        <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
          <td class="w-4 p-4">
            <div class="flex items-center">
              <input
                id="table-checkbox-52"
                type="checkbox"
                value=""
                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-2 focus:ring-blue-300"
              />
              <label for="table-checkbox-52" class="sr-only">Table checkbox</label>
            </div>
          </td>
          <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap">
            <img
              class="w-10 h-10 rounded-full"
              src="/docs/images/people/profile-picture-1.jpg"
              alt="Jese image"
            />
            <div class="ps-3">
              <div class="text-base font-semibold">{{ employee.fullName }}</div>
              <div class="font-normal text-gray-500">{{ employee.email }}</div>
            </div>
          </th>
          <td class="px-6 py-4">
            {{ employee.employeeType }}
          </td>
          <td class="px-6 py-4">
            <div class="flex items-center">
              <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>
              Activo
            </div>
          </td>
          <td class="px-6 py-4">
            <!-- Modal toggle -->
            <a
              type="button"
              data-modal-target="editUserModal"
              data-modal-show="editUserModal"
              class="font-medium text-blue-600 hover:underline"
              >Editar</a
            >
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
