<div class="form-control w-full mb-4">
  <label class="label">
    <span class="label-text">
      {{ label() }}
      @if (required()) {
        <span class="text-error ml-1"></span>
      }
    </span>
  </label>

  <ng-content></ng-content>

  <div class="h-3">
    @if (error()) {
      <div class="label py-0 animate-fade-in">
        <span class="label-text-alt text-error text-sm flex items-center">
          <i class="fas fa-exclamation-circle mr-1"></i>
          {{ error() }}
        </span>
      </div>
    }
  </div>
</div>
