@import 'tailwindcss';
@plugin "daisyui" {
  themes: corporate --default;
}

@utility btn {
  @apply rounded-md;
}

:root {
  --color-primary: #37619c;
}

::placeholder {
  color: #848993;
  opacity: 1;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

.grid {
  width: 100%;
  max-width: 100%;
}

.overflow-x-auto,
.overflow-hidden {
  max-width: 100%;
}

.bg-white {
  max-width: 100%;
  box-sizing: border-box;
}



