@import 'tailwindcss';
@plugin "daisyui" {
  themes: corporate --default;
}

@utility btn {
  @apply rounded-md;
}

:root {
  --color-primary: #37619c;
}

::placeholder {
  color: #848993;
  opacity: 1;
}



